parameters:
	drupal:
		bleedingEdge:
			checkDeprecatedHooksInApiFiles: true
			checkCoreDeprecatedHooksInApiFiles: false
			checkContribDeprecatedHooksInApiFiles: false
		rules:
			testClassSuffixNameRule: true
			dependencySerializationTraitPropertyRule: true
			accessResultConditionRule: true
