parameters:
	drupal:
		bleedingEdge:
			checkDeprecatedHooksInApiFiles: true
			checkCoreDeprecatedHooksInApiFiles: true
			checkContribDeprecatedHooksInApiFiles: true
		rules:
			testClassSuffixNameRule: true
			dependencySerializationTraitPropertyRule: true
			accessResultConditionRule: true
