parameters:
	# @todo this must persist in a DI extension due unexpanded relative path.
	#autoload_files:
	#	- drupal-autoloader.php
	excludes_analyse:
		- *.api.php
		- */tests/fixtures/*.php
	fileExtensions:
		- module
		- theme
		- inc
		- install
		- profile
		- engine
extensions:
	drupal: PHPStan\DependencyInjection\DrupalExtension
drupal:
	entityTypeStorageMapping:
		node: Drupal\node\NodeStorage
		taxonomy_term: Drupal\taxonomy\TermStorage
		user: Drupal\user\UserStorage
rules:
	- PHPStan\Rules\Classes\PluginManagerInspectionRule
	- PHPStan\Rules\Drupal\Coder\DiscouragedFunctionsRule
	- PHPStan\Rules\Drupal\GlobalDrupalDependencyInjectionRule
	- PHPStan\Rules\Drupal\PluginManager\PluginManagerSetsCacheBackendRule
services:
	drupal.serviceMapFactory:
		class: PHPStan\Drupal\ServiceMapFactory
		factory: PHPStan\Drupal\ServiceMapFactory(%drupalServiceMap%)
	-
		factory: @drupal.serviceMapFactory::create()
	-
		class: PHPStan\Type\EntityTypeManagerGetStorageDynamicReturnTypeExtension
		arguments:
			entityTypeStorageMapping: %drupal.entityTypeStorageMapping%
		tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
	-
		class: PHPStan\Type\ServiceDynamicReturnTypeExtension
		tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
	-
		class: PHPStan\Reflection\EntityFieldsViaMagicReflectionExtension
		tags: [phpstan.broker.propertiesClassReflectionExtension]
