includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
parameters:
	level: 8
	checkGenericClassInNonGenericObjectType: false
	checkMissingIterableValueType: false
	paths:
		- src
		- drupal-phpunit-hack.php
		- drupal-autoloader.php
		- tests/src
