parameters:
	level: 8
	checkGenericClassInNonGenericObjectType: false
	checkMissingIterableValueType: false
	reportUnmatchedIgnoredErrors: false
	paths:
		- src
		- drupal-autoloader.php
		- tests/src
	excludePaths:
		-  tests/src/data/*.php
		-  tests/src/Type/data/*.php
		-  tests/src/Rules/data/*.php
	dynamicConstantNames:
		- Drupal::VERSION
includes:
	- phpstan-baseline.neon
