<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         forceCoversAnnotation="false"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         beStrictAboutChangesToGlobalState="true"
         verbose="false">
    <php>
        <ini name="error_reporting" value="32767"/>
        <ini name="memory_limit" value="-1"/>
        <!-- Drupal requires Symfony PHPUnit Bridge, silence its warnings. -->
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled"/>
    </php>
    <testsuites>
        <testsuite name="default">
            <directory suffix="Test.php">tests/src</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true" lowUpperBound="50" highLowerBound="80" />
        <log type="coverage-clover" target="./clover.xml" />
    </logging>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
                <directory>./vendor</directory>
                <directory>./tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
