rules:
	- mglaman\PHPStanDrupal\Rules\Drupal\Coder\DiscouragedFunctionsRule
	- mglaman\PHPStanDrupal\Rules\Drupal\GlobalDrupalDependencyInjectionRule
	- mglaman\PHPStanDrupal\Rules\Drupal\PluginManager\PluginManagerSetsCacheBackendRule
	- mglaman\PHPStanDrupal\Rules\Deprecations\AccessDeprecatedConstant
	- mglaman\PHPStanDrupal\Rules\Classes\ClassExtendsInternalClassRule
	- mglaman\PHPStanDrupal\Rules\Classes\PluginManagerInspectionRule
	- mglaman\PHPStanDrupal\Rules\Deprecations\ConditionManagerCreateInstanceContextConfigurationRule
	- mglaman\PHPStanDrupal\Rules\Drupal\RenderCallbackRule
	- mglaman\PHPStanDrupal\Rules\Deprecations\StaticServiceDeprecatedServiceRule
	- mglaman\PHPStanDrupal\Rules\Deprecations\GetDeprecatedServiceRule
	- mglaman\PHPStanDrupal\Rules\Drupal\Tests\BrowserTestBaseDefaultThemeRule
	- mglaman\PHPStanDrupal\Rules\Deprecations\ConfigEntityConfigExportRule
	- mglaman\PHPStanDrupal\Rules\Deprecations\PluginAnnotationContextDefinitionsRule
	- mglaman\PHPStanDrupal\Rules\Drupal\ModuleLoadInclude
	- mglaman\PHPStanDrupal\Rules\Drupal\LoadIncludes
	- mglaman\PHPStanDrupal\Rules\Drupal\EntityQuery\EntityQueryHasAccessCheckRule
	- mglaman\PHPStanDrupal\Rules\Deprecations\SymfonyCmfRouteObjectInterfaceConstantsRule
	- mglaman\PHPStanDrupal\Rules\Deprecations\SymfonyCmfRoutingInClassMethodSignatureRule
	- mglaman\PHPStanDrupal\Rules\Drupal\RequestStackGetMainRequestRule
	- mglaman\PHPStanDrupal\Rules\Drupal\TestClassesProtectedPropertyModulesRule
